<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmhq.core.dao.FaCompanyDao">




    <update id="minusMoney" >
        update fa_company set money = money-#{money},estimate_price = estimate_price+#{money} where id = #{companyId}

    </update>
    <update id="minusEstimatePrice" >
        update fa_company set estimate_price-#{money} where id = #{companyId} and (estimate_price-#{money})>0

    </update>

    <update id="restMoney" >
        update fa_company set money = money+#{money},
                              estimate_price = estimate_price-#{money} where id = #{companyId}  and (estimate_price-#{money})>0
    </update>
    <update id="addMoney" >
        update fa_company set money = money+#{money} where id = #{companyId}

    </update>

</mapper>